
@{
    ViewBag.Title = "Yetki Hatası";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPageAdmin.cshtml";
}


<h2 style="color: #ff4b32;">Yetki Hatassı</h2>
<br />
Lütfen Geçerli Bir Yetki İle Tekrar Deneyiniz

